<footer class="footer">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-7 mb-3 mb-md-0">
                <div class="footer__links">
                    <a class="footer__link" href="#">Главная</a>
                    <a class="footer__link" href="#">Тарифы</a>
                    <a class="footer__link" href="#">Вопросы-ответы</a>
                    <a class="footer__link" href="#">Личный кабинет</a>
                    <a class="footer__link" href="#">Новости</a>
                    <a class="footer__link" href="#">Договор публичной оферты</a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="social">
                    <span class="social__text">Мы в социальных сетях:</span>
                    <div class="social__links">
                        <a class="social__link" href="https://facebook.com" target="_blank" rel="noopener"
                           aria-label="В Facebook"></a>
                        <a class="social__link social__link--google" href="https://google.com" target="_blank"
                           rel="noopener" aria-label="В Google+"></a>
                        <a class="social__link social__link--instagram" href="https://instagram.com" target="_blank"
                           rel="noopener" aria-label="В Instagram"></a>
                    </div>
                </div>
            </div>
            <div class="col-12 footer__copyright">
                © Kazteleport, 2015. Все права защищены
            </div>
        </div>
    </div>
</footer>