<header class="header">
    <div class="container d-flex justify-content-between align-items-center">
        <div class="logo header__logo">
            <img src="/img/logo.png" alt="Логотип 23Degree">
            Degree
        </div>
        <div class="header__phone d-none d-sm-block">
            Есть вопросы? Звоните!
            <span>8 /800/ 259 09 36</span>
        </div>
        <button type="button" class="nav-btn">
            <span class="nav-btn__bar"></span>
            <span class="nav-btn__bar"></span>
            <span class="nav-btn__bar"></span>
            Меню
        </button>
    </div>
</header>